---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'Actualmente...',
        title: 'Innovacode',
        description: 'Actualmente me encuentro desarrollando un software para asegurar el cumplimiento de la norma ISO 27001 en una empresa, mediante la realización de auditorías y encuestas. El software está siendo desarrollado utilizando Next.js para el frontend, Strapi como CMS, y MySQL como base de datos.',
        link: '#'
    },
    {
        date: 'Desde el 2023',
        title: 'Trabajos de diseño UX/UI',
        description: 'Siempre me ha encantado el diseño y creo firmemente que no solo debe resolver problemas, sino también inspirar y emocionar. Tengo experiencia realizando proyectos tanto dentro como fuera del ámbito universitario, trabajando principalmente con Figma. Además, he utilizado herramientas no-code como Framer y Webflow para el desarrollo de páginas estáticas.',
    },
    {
        date: 'Desde el 2022',
        title: 'Software Developer',
        description: 'Siempre me ha apasionado el diseño web y me emociona poder llevar una idea a la vida real de manera llamativa y funcional. Por esta razón, mi enfoque en el desarrollo de software ha estado principalmente orientado al frontend, donde he adquirido experiencia como freelancer desarrollando aplicaciones web y también en proyectos colaborativos en la universidad. Sin embargo, mi formación no se ha limitado solo al frontend. A lo largo de mi carrera, también he trabajado en el desarrollo de backend, utilizando tecnologías como python, Firebase, Strapi y bases de datos como MySQL y MongoDB. He desarrollado APIs, implementado autenticaciones de usuario y manejo de bases de datos relacionales y no relacionales. Esta experiencia me ha permitido entender el ciclo completo del desarrollo de software y aportar soluciones más integrales en los proyectos en los que participo.',
    },

]
---


<ol class="relative border-s border-violet-500 ml-3">
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience}/>
            </li>
        ))
    }                  
</ol>

  

      
