<header class="fixed top-0 left-0 w-full bg-white/10 backdrop-blur-lg flex justify-center items-center py-5 z-50">
    <nav class="flex flex-row gap-x-6 sm:gap-x-10 text-white/80 text-sm sm:text-base">
        <a href="#top" class="hover:text-white">Inicio</a>
        <a href="#experience" class="hover:text-white">Experiencia</a>
        <a href="#projects" class="hover:text-white">Proyectos</a>
        <a href="#bottom" class="hover:text-white">Contacto</a>
    </nav>
</header>

