---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '@fontsource-variable/onest';

interface Props {
	title: string;
	description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body >
		<Header/>
		<slot />
		<Footer/>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: dark;
	}

	html {
		font-family: 'Onest Variable'. system-ui, sans-serif;
		scroll-behavior: smooth;
		background: radial-gradient(
    	ellipse 80% 80% at 50% -20%, 
    	rgba(120, 119, 198, 0.3), 
    	rgba(255, 255, 255, 0)
  		);
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

   @media (prefers-reduced-motion: reduce){
	html {
		scroll-behavior: auto;
	}
   }

</style>
